    def get_{{ resource | snakecase }}(self, *, {{ method_params }}) -> {{ return_type }}:
        if self.type == self.UserType.HOTEL_USER:
            return self._get_{{ resource | snakecase }}_for_hotel_user({{ forward_args }})
{% if support_guest %}        elif self.type == self.UserType.UNAUTHENTICATED_GUEST:
            return self._get_{{ resource | snakecase }}_for_unauthenticated_guest({{ forward_args }})
{% endif %}        else:
            raise NotImplementedError(
                "{{ gatekeeper_class }} subclasses must implement get_{{ resource | snakecase }} for their auth_type"
            )

    def _get_{{ resource | snakecase }}_for_hotel_user(self, {{ forward_params }}) -> {{ return_type }}:
        {{ hotel_user_body | indent(8) }}

{% if support_guest %}    def _get_{{ resource | snakecase }}_for_unauthenticated_guest(self, {{ forward_params }}) -> {{ return_type }}:
        {{ guest_body | indent(8) }}
{% endif %}