from dataclasses import dataclass
from http import HTTPStatus
from typing import Literal
from uuid import UUID

from django.views import View

from shared.request_framework import {{ response_type }}, validate_request

from canary.access_control.permissions import HotelPermissions
{%- if readonly %}
from canary.utilities.readonly_database import readonly_database
{%- endif %}
{%- if not readonly %}
from canary.utilities.readonly_database import no_readonly_database
{%- endif %}
from {{ app }}.views.gatekeeper import {{ gatekeeper_class }}
{%- for imp in extra_imports %}
{{ imp }}
{%- endfor %}

{%- if has_path_params %}


@dataclass
class PathParams:
    hotel_slug: str
{%- for param in path_params %}
    {{ param.name }}: {{ param.type }}
{%- endfor %}
{%- endif %}

{%- if has_query_params %}


@dataclass
class {{ view_name }}QueryParams:
{%- for param in query_params %}
    {{ param.name }}: {{ param.type }}{% if param.default is defined %} = {{ param.default }}{% endif %}
{%- endfor %}
{%- endif %}

{%- if has_body %}


@dataclass
class {{ view_name }}RequestBody:
{%- for field in body_fields %}
    {{ field.name }}: {{ field.type }}{% if field.default is defined %} = {{ field.default }}{% endif %}
{%- endfor %}
{%- endif %}


class {{ view_name }}View(View):
    gatekeeper = {{ gatekeeper_class }}(
        type={{ gatekeeper_class }}.UserType.{{ user_type }},
{%- if permissions %}
        hotel_permissions=HotelPermissions(hotel_all=[{{ permissions | join(", ") }}]),
{%- endif %}
    )
{% if readonly %}
    @readonly_database()
{%- endif %}
{%- if not readonly %}
    @no_readonly_database
{%- endif %}
    @validate_request
    def {{ http_method }}(
        self,
        gatekeeper: {{ gatekeeper_class }},
{%- if has_path_params %}
        path_params: PathParams,
{%- endif %}
{%- if has_query_params %}
        query_params: {{ view_name }}QueryParams,
{%- endif %}
{%- if has_body %}
        body: {{ view_name }}RequestBody,
{%- endif %}
    ) -> {{ response_type }}[Literal[HTTPStatus.{{ status_code }}], {{ response_data_type }}]:
        {{ method_body | indent(8, first=false) }}
