{% if not readonly %}    @no_readonly_database
{% endif %}{% if readonly %}    @readonly_database()
{% endif %}    @validate_request
    def {{ http_method }}(
        self,
        gatekeeper: {{ gatekeeper_class }},
{% if has_path_params %}        path_params: PathParams,
{% endif %}{% if has_body %}        body: {{ body_class }},
{% endif %}    ) -> {{ response_type }}[Literal[HTTPStatus.{{ status_code }}], {{ response_data_type }}]:
{{ method_body | indent(8) }}