
    def {{ test_name }}(self):
        response = self.client.{{ http_method | lower }}(
            "{{ test_url }}",
            data={"correlation_id": "h2h"},
            content_type="application/json",
        )
        self.assertIn(response.status_code, [200, 400, 401, 404])
